/* Write your CSS here */
.list-item {
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
}
.button {
  border: 1px solid #ff0b37;
  background-color: transparent;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 4px;
  color: #ff0b37;
  max-height: 50%;
}
.text {
  color: #000000;
  font-size: 18px;
  text-align: start;
}
.list {
  display: flex;
  min-width: 100%;
  padding-right: 10px;
  padding-left: 10px;
}
.btn-container {
  margin-left: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
