/* Write your CSS here */
.bg-container {
  background-color: #ffc2a0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Breef Serif';
  padding: 20px;
}
.content-container {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  min-width: 80%;
}
.heading {
  color: #ff8542;
  font-size: 30px;
}
.list-container {
  list-style-type: none;
  padding: 20px;
}
